.App {
  font-family: sans-serif;
  text-align: center;
}

/* 
font-family: 'Aladin', cursive; - For Zoltar
font-family: 'Lora', serif; - For Card Names
font-family: 'Raleway', sans-serif; - for most text
*/

body {
  background-color: #32435e;
  background-image: url("https://uhdwallpapers.org/uploads/converted/19/04/15/cosmos-constellation-galaxy-stars-2880x1800_787974-mm-90.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

.spacer {
  text-align: center;
  background-color: #7b0051;
  margin: 25px 0;
}

img {
  max-width: 75%;
}

/* 
*
*
END BODY & MASTER STYLES
*
START HEADER
*
*
*/
header {
  background-color: rgba(114, 10, 113, 0.7);
  font-family: "Aladin", cursive;
  padding: 25px 10px;
  color: #f1b32d;
  letter-spacing: 4px;
}

#zoltar {
  font-size: 75px;
  line-height: 70px;
}

header .byline {
  font-size: 20px;
}

/* 
*
*
END HEADER
*
START COSMOS
START INSTRUCTIONS
*
*
*/

#instructions {
  padding: 20px 45px;
  text-align: justify;
  font-style: italic;
  color: #ffffff;
}

/* 
*
*
END INSTRUCTIONS
*
START READING SELECT (&drop down styling)
*
*
*/

#readingSelect {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 45px 10px;
}

#readingSelect p {
  margin: 0;
  padding: 10px 45px;
  text-align: justify;
}

/* 
*
*
END READING SELECT (&drop down styling)
END COSMOS
*
START SHUFFLE
*
*
*/

#shuffle {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
}

button {
  width: 85%;
  margin: 5px 3px;
}

/* 
*
*
END SHUFFLE
*
START READINGTABLE (& card styles)
*
*
*/

#readingTable {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 15px;
  color: #ffffff;
}

/* 
*
*
END READINGTABLE (& card styles)
*
START READINGEXPLAIN
*
*
*/

#readingExplain {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 30px 15px;
}

#readingExplain > .row {
  padding: 8px 0px;
}

/* at size of screen here, center text
https://www.w3schools.com/bootstrap4/bootstrap_grid_basic.asp
 */

.readingDescPic {
  text-align: right;
}

.readingDesc {
  text-align: left;
  padding: 15px 0;
}

/* 
*
*
END READINGEXPLAIN
*
START FOOTER
*
*
*/

footer {
  /* background-color: #7b0051; */
  padding: 15px 10px 30px;
  background-color: rgba(114, 10, 113, 0.7);
}
